langchain==0.2.0
langchain-groq==0.2.0
langchain-community==0.2.0
python-dotenv==1.0.1
pydantic==2.7.0

requests
uvicorn[standart]
fastapi
json
loguru
playwright
playwright-stealth
beautifulsoup4
setuptools